*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    background-color: black;
}
.container{
    max-width: 550px;

}
.container img{
    max-width: 100%;
    margin-bottom: 15px;
}
.container h2{
    color: white;
    font-weight: 600;

}
.container p{
    color: white;
    padding: 10px 8px;
}
.btn{
    font-weight: 500;
    margin-top: 20px;
    background-color: #ffffff;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.btn:hover{
    background-color: #3851e0;
    color: #ffffff;
    font-weight: 600;
    /* transition: transform .7s; */
}
.video-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.video-container video{
    position: relative;
    max-width: 565px;
    outline: none;
}
.Active.video-container{
    visibility: hidden;
}
@media (max-width:500px) {
    .video-container {
        position: relative;
        max-width: 90%;
    }
    
}
.close-icon{
    position: absolute;
    top: 20px;
    right: 30px;
    /* background-color: aqua; */
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
}
